{{#*inline "headers"}}
<title>Scan | Only_Scan</title>
<link rel="stylesheet" href="/scan.css">
{{/inline}}

{{#*inline "page"}}

<form id="form" class="form" action="#" method="POST">
    <div class="fields">
        <p>
            Name:
            <input id="name" name="name" type="text" value="{{item.name}}">
        </p>

        <p class="price">
            Price:
            <input id="price" name="price" type="number" value="{{euro item.price}}">
        </p>
    </div>

    <input id="category" name="category" class="hidden" hidden>
    <div class="tiles">
        {{#each categories_left}}
        <div class="tile small" onclick='submit("{{this.1}}")'>
            <p class="content">{{length this.1}}</p>
        </div>
        {{/each}}
    </div>

    <div class="bottom fields">
        <button onclick="delete_f(event)">
            Delete
        </button>

        <input placeholder="Other categories" list="suggestionList" id="answerInput" autocomplete="off">

        <button onclick="submit2()">
            Submit!
        </button>
    </div>
    <datalist id="suggestionList">
        {{#each categories_right}}
        <option data-value="{{this.1}}">{{length this.1}}</option>
        {{/each}}
    </datalist>
</form>

{{/inline}}

{{> base}}

<script>
    var form = document.getElementById("form");
    var field = document.getElementById("category");
    var otherInput = document.getElementById("answerInput");

    var options = document.querySelectorAll('#suggestionList option');

    function submit2() {
        const targetV = otherInput.value;
        for (let option of options) {
            if (targetV === option.innerText) {
                field.value = option.getAttribute("data-value");
                break;
            }
        }
        form.submit();
    }

    function submit(value) {
        field.value = value;
        form.submit();
    }

    async function delete_f(event) {
        event.preventDefault();
        const resp = await fetch("#", {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
        window.location.href = resp.url;
    }
</script>
