{{#*inline "headers"}}
<title>Scan | Only_Scan</title>
<link rel="stylesheet" href="/scan.css">
{{/inline}}

{{#*inline "page"}}

<form id="form" action="#" method="POST">
    <div class="body">
        <input id="name" name="name" type="text" value="{{item.name}}">
        <input id="price" name="price" type="number" value="{{item.price}}">

        <input id="category" name="category" class="hidden" hidden>
        <div class="tiles">
            {{#each categories}}
            <div class="tile small" onclick='submit("{{this}}")'>{{length this}}</div>
            {{/each}}
        </div>

        <div class="bottom">
            <input list="suggestionList" id="answerInput" autocomplete="off">
            <datalist id="suggestionList">
                {{#each categories}}
                <option data-value="{{this}}">{{length this}}</option>
                {{/each}}
            </datalist>

            <button onclick="submit2()">
                Submit!
            </button>
        </div>
    </div>
</form>


{{/inline}}

{{> base}}

<script>
    var form = document.getElementById("form");
    var field = document.getElementById("category");
    var otherInput = document.getElementById("answerInput");

    var options = document.querySelectorAll('#suggestionList option');

    function submit2() {
        const targetV = otherInput.value;
        for (let option of options) {
            if (targetV === option.innerText) {
                field.value = option.getAttribute("data-value");
                break;
            }
        }
        form.submit();
    }

    function submit(value) {
        field.value = value;
        form.submit();
    }
</script>
