{{#*inline "headers"}}
<title>Ingest | Fava | Only_Scan</title>
{{/inline}}

{{#*inline "page"}}

<form id="form" class="form container" action="#" method="POST">
    <input id="category" name="category" class="hidden" hidden>
    <div class="card block">
        <div class="card-header has-text-centered">
            Date: {{item.date}}
        </div>

        <div class="card-content">
            <p>
                {{item.description.way}}
                {{#if item.description.user}}
                door {{item.description.user}}
                {{/if}}
            </p>
            <p>
                {{item.description.label}}
                {{item.note.free}}
            </p>
            {{#if item.tegenpartij}}
            <p>
                naar {{item.tegenpartij}}
            </p>
            {{/if}}
        </div>
    </div>

    <div class="columns block is-variable is-multiline is-centered">
        {{#each categories_left}}
        <div class="column is-one-quarter" onclick='submit("{{this.1}}")'>
            <div class="notification has-text-centered">{{shorten_cat this.1}}</div>
        </div>
        {{/each}}
    </div>

    <div class="bottom fields">
        <button onclick="delete_f(event)">
            Delete
        </button>

        <input placeholder="Other categories" list="suggestionList" id="answerInput" autocomplete="off">

        <button onclick="submit2()">
            Submit!
        </button>
    </div>
    <datalist id="suggestionList">
        {{#each categories_right}}
        <option data-value="{{this.1}}">{{shorten_cat this.1}}</option>
        {{/each}}
    </datalist>
</form>

{{/inline}}

{{> base}}

<script>
    var form = document.getElementById("form");
    var field = document.getElementById("category");
    var otherInput = document.getElementById("answerInput");

    var options = document.querySelectorAll('#suggestionList option');

    function submit2() {
        const targetV = otherInput.value;
        for (let option of options) {
            if (targetV === option.innerText) {
                field.value = option.getAttribute("data-value");
                break;
            }
        }
        form.submit();
    }

    function submit(value) {
        field.value = value;
        form.submit();
    }

    async function delete_f(event) {
        event.preventDefault();
        const resp = await fetch("#", {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
        window.location.href = resp.url;
    }
</script>
