{{#*inline "headers"}}
<title>Scan | Only_Scan</title>
<link rel="stylesheet" href="/scan.css">
{{/inline}}

{{#*inline "page"}}



<form method="post" class="form" action="#">
    <p>
        Scan name:
        <input name="name" placeholder="Delhaise">
    </p>

    <p>
        Date:
        <input name="date" type="date" value="{{date}}">
    </p>

    {{#each items}}
    <p>
        {{this.name}}: {{this.price}} {{length this.category}}
    </p>
    {{/each}}

    <div id="payments">
        <div class="fields">
            <p>
                Rest category:
                <select id="suggestionList" name="rest[]">
                    {{#each categories}}
                    <option data-value="{{this}}">{{length this}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                Pay method:
                <select id="paymentList" name="pay[]">
                    {{#each pay_options}}
                    <option data-value="{{this}}">{{length this}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                Total price:
                <input name="total[]" value="{{total}}">
            </p>
        </div>
    </div>

    <button onclick="add_payment(event)">Add payment option</button>


    <input class="button" type="submit" value="Submit">
</form>


<script>
    function add_payment(e) {
        e.preventDefault();
        const payments = document.getElementById("payments");
        payments.appendChild(
            payments.children[0].cloneNode(deep = true)
        );
    }
</script>

{{/inline}}

{{> base}}