{{#*inline "headers"}}
<title>Scan | Only_Scan</title>
<link rel="stylesheet" href="/scan.css">
{{/inline}}

{{#*inline "page"}}



<form method="post" class="form" action="#">
    <div class="top_input">
        <input name="name" placeholder="Scan name">
        <div class="fields">
            <p>
                Date:
                <input class="input" name="date" type="date" value="{{date}}">
            </p>

            <p>
                Rest category:
                <select id="suggestionList" class="input" name="rest">
                    {{#each categories}}
                    <option value="{{this}}" label="{{length this}}">{{this}}</option>
                    {{/each}}
                </select>
            </p>
        </div>
    </div>


    <table>
        <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <th scope="row">{{this.name}}</th>
                <td>{{this.price}}</td>
                <td>{{length this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    <div id="payments">
        <div> Pay method:</div>
        <div class="fields">
                <select id="paymentList" class="big" name="pay[]">
                    {{#each pay_options}}
                    <option data-value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <div class="price">
                <input name="total[]" value="{{total}}">
                </div>
        </div>
    </div>

    <button onclick="add_payment(event)">Add payment option</button>


    <input class="button" type="submit" value="Submit">
</form>


<script>
    function add_payment(e) {
        e.preventDefault();
        const payments = document.getElementById("payments");
        payments.appendChild(
            payments.children[0].cloneNode(deep = true)
        );
    }
</script>

{{/inline}}

{{> base}}
