<div class="story" data-story="{{this.id}}" data-parent="{{this.parent}}" draggable="true"
  ondragstart="onDragStart(event)" ondrop="onDrop(event)" ondragover="onDragOver(event)">
  <div class="content draggable dropzone">
    <div class="title">
      <img src="{{image this.img}}" height="64">
      <h3>
        {{this.title}}
      </h3>
      <div>
        <span>{{this.done}}</span> / <span>{{this.total}} </span>
      </div>
    </div>
    <p>
      {{this.description}}
    </p>

  </div>
    {{#each this.sub_tasks}}
    {{> scrum/partials/story }}
    {{/each}}
</div>
