{{#*inline "headers"}}
<title>Ingest | Fava | Only_Scan</title>
{{/inline}}

{{#*inline "page"}}

<form id="form" class="form container" action="#" method="POST">
    <input id="category" name="category" class="hidden" hidden>
    <div class="m-4 media is-lowercase">

        <div class="media-content">

      <p>
        {{item.key}}
      </p>


<table>
  <thead>
    <tr>
      <th scope="col">Tegenpartij</th>
      <th scope="col">Method</th>
      <th scope="col">User</th>
      <th scope="col">label</th>
      <th scope="col">note</th>
      <th scope="col">Date</th>
      <th scope="col">amount</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

      {{#each item.statements}}
          <tr>
            <td>{{#if this.tegenpartij}}{{this.tegenpartij}}{{/if}}</td>
            <td>{{this.description.way}}</td>
            <td>{{#if this.description.user}}{{this.description.user}}{{/if}}</td>
            <td>{{this.description.label}}</td>
            <td>{{this.description.note.free}}</td>
            <td>{{this.date}}</td>
            <td>{{euro this.amount}}</td>
            <td onclick="delete_item(window.location.href + '/{{this.id}}')">
            <button class="delete is-large is-light"="delete_f(event)">
                Delete
            </button>
            </td>
          </tr>
        {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="6">Total amount</th>
       <td>{{euro total}}</td>
       <td onclick="delete_item('#')">
        <button class="delete is-large is-light"="delete_f(event)">
            Delete
        </button>
      </td>
    </tr>
  </tfoot>
</table>

    <div class="beancount-accounts">
        {{#each accounts}}
          <div class="is-clickable column account" onclick='submit("{{this.full}}")'>
            {{#each this.segments}}
                <span style="color: {{this.1}}" >{{this.0}}</span>
            {{/each}}
          </div>
        {{/each}}
    </div>
</form>

{{/inline}}

{{> base}}

<style>
.account:hover {
    background-color: rgba(0, 96, 223, 0.1);
}

.beancount-accounts {
    font-size: 1.1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;

}

thead,
tfoot, thead th, tfoot th {
    background-color: #3f87a6;
    color: #fff;
}


tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
  color: black;
}

td:last-child:hover {
    background-color: red;
  cursor: pointer;
}

td {
    text-align: center;
}
</style>

<script>
    var form = document.getElementById("form");
    var field = document.getElementById("category");
    var otherInput = document.getElementById("answerInput");

    var options = document.querySelectorAll('#suggestionList option');

    function submit2() {
        const targetV = otherInput.value;
        for (let option of options) {
            if (targetV === option.innerText) {
                field.value = option.getAttribute("data-value");
                break;
            }
        }
        form.submit();
    }

    function submit(value) {
        field.value = value;
        form.submit();
    }

    async function delete_item(location) {
      event.preventDefault();
      const resp = await fetch(location, {
          method: 'DELETE',
          headers: {
              'Content-type': 'application/json'
          }
      });

      window.location.replace(resp.url);

    }
</script>
