{{#*inline "headers"}}
<title>Ingest | Fava | Only_Scan</title>
{{/inline}}

{{#*inline "page"}}

<form id="form" class="form container" action="#" method="POST">
    <input id="category" name="category" class="hidden" hidden>
    <div class="m-4 media is-lowercase">

        <div class="media-content">

            <p>
                {{item.description.way}}
                {{#if item.description.user}}
                door {{item.description.user}}
                {{/if}}
            </p>

            <p>
                {{item.description.label}}
                {{item.note.free}}
            </p>

            {{#if item.tegenpartij}}
            <p>
                naar {{item.tegenpartij}}
            </p>
            {{/if}}

            <p>
                <span class="has-text-weight-bold">{{ euro item.amount}}</span> euro op {{item.date}}
            </p>
        </div>

        <div class="media-right">

            <button class="delete is-large is-light"="delete_f(event)">
                Delete
            </button>
        </div>
    </div>

    <div class="beancount-accounts">
        {{#each accounts}}
          <div class="is-clickable column account" onclick='submit("{{this.full}}")'>
            {{#each this.segments}}
                <span style="color: {{this.1}}" >{{this.0}}</span>
            {{/each}}
          </div>
        {{/each}}
    </div>
</form>

{{/inline}}

{{> base}}

<style>
.account:hover {
    background-color: rgba(0, 96, 223, 0.1);
}

.beancount-accounts {
    font-size: 1.1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;

}
</style>

<script>
    var form = document.getElementById("form");
    var field = document.getElementById("category");
    var otherInput = document.getElementById("answerInput");

    var options = document.querySelectorAll('#suggestionList option');

    function submit2() {
        const targetV = otherInput.value;
        for (let option of options) {
            if (targetV === option.innerText) {
                field.value = option.getAttribute("data-value");
                break;
            }
        }
        form.submit();
    }

    function submit(value) {
        field.value = value;
        form.submit();
    }

    async function delete_f(event) {
        event.preventDefault();
        const resp = await fetch("#", {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
        window.location.href = resp.url;
    }
</script>
